node-version=20.10.0
npm-version=10.2.0

# Set URL for your scoped packages.
# For example package with name `@my-org/my-package` will use this URL for download
@rfdevops:registry=https://maven.rangeforce.com/api/v4/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
# `@my-org/` packages from private projects.
'//maven.rangeforce.com/api/v4/packages/npm/:_authToken'="${NPM_SHARED_TOKEN}"
